<nav class="navbar navbar-light bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/investeuropalogo.jpg') }}" alt="logo" height="43">
        </a>
    </div>
</nav>